.card {
    $ratio: 1.4;
    $font-size: 5vh;

    position: relative;

    height: calc(95vw * #{$ratio});
    width: calc(95vw);

    color: white;
    font-family: Arial, sans-serif;

    overflow: hidden; 
    border-radius: 20px;
    white-space: normal;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width:  100%;
        height: 100%;
        opacity: 0.5;
        background-image: url(./res/background.png);
        background-size: cover;
    }

    .picture {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: auto;

        &:not(.picture-plain) {
            -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent);
        }

        &.picture-plain {
            border-radius: 4px;
        }
    }

    h4.name {
        position: absolute;
        top: 73%;
        left: 0;
        width: 100%;
        text-align: center;  
        font-size: $font-size;  
        
        small {
            position: absolute;
            font-size: $font-size - 2.5;
            right: 10%;
            transform: translateY(-50%);
            top: 50%;
            text-align: right;
            width: 20%;
        }
    }

    .description {
        position: absolute;
        bottom:  .7%;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
        font-size: $font-size;      
    }
}