@import './variables';

@import './card';
@import './home';
@import './deck';
@import './btn';
@import './share';



html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    //background-color: #222831;
    background-color: $background;
}