@import './variables';

@import './card';
@import './deck';
@import './btn';



html, body {
    margin: 0;
    padding: 0;
}

body {
    //background-color: #222831;
    background-color: $background;
}